@model QL_BanXang.Models.HANGHOA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<style>
    body {
        background: linear-gradient(to right, #36d1dc, #5b86e5);
        color: #ffffff;
    }

    .dl-horizontal dt {
        color: #5b86e5;
    }

    .dl-horizontal dd {
        color: #36d1dc;
    }

    .btn-primary {
        background-color: #5b86e5;
    }

    .btn-secondary {
        background-color: #36d1dc;
    }
</style>

<h2 class="text-center text-primary">Chi Tiết</h2>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Mã Hàng Hóa
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MaHH)
                </dd>

                <dt>
                    Tên
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ten)
                </dd>

                <dt>
                    Mã Loại
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MaLoai)
                </dd>

                <dt>
                    Mô Tả
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mota)
                </dd>

            </dl>
        </div>
    </div>
    <p class="mt-3">
        @Html.ActionLink("Sửa Sản Phẩm", "SuaSP", new { id = Model.MaHH }, new { @class = "btn btn-primary" })
        <a href="@Url.Action("Index")" class="btn btn-secondary">Quay Lại</a>
    </p>
</div>