@model QL_BanXang.Models.PHIEUNHAP

@{
    ViewBag.Title = "ThemPhieuNhap";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<style>
    body {
        background: linear-gradient(to right, #36d1dc, #5b86e5);
        color: #ffffff;
    }

    .form-horizontal .form-group {
        margin: 0 auto;
        width: 50%;
    }

    .form-horizontal button, .form-horizontal a {
        width: 100px;
        margin: 10px;
    }
</style>

<h2 class="text-center text-primary my-5">Thêm Phiếu Nhập</h2>

@using (Html.BeginForm("ThemPhieuNhap", "NhapHang", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.NgayNhap, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.NgayNhap, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NgayNhap, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaNCC, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaNCC", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaNV, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaNV", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Thêm mới</button>
            <a href="@Url.Action("PhieuNhap")" class="btn btn-secondary">Quay Lại</a>
        </div>
    </div>
}